
body{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Verdana, "DejaVu Sans", sans-serif;
    margin: 0;
}

.first-section{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    align-items: center;
    padding: 24px 200px;
    
}

.header-links{
    display: flex;
    gap: 16px;
}


.header{
    display: flex;
    justify-content: space-around;
    background-color:    #1F2937;
    color: #f9faf8;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

ul {
    list-style-type: none;
}

.button1,
.text,
a {
    text-decoration:none;
    color: #e5e7eb;
    font-size: 18px;
}

.title-text{
    font-size: 48px;
    font-weight: 900;
    color: #e5e7eb ;
}

.first-section{
    padding-bottom: 80px;
    padding-top: 105px;
}

.first-section-left{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    gap: 16px;
}

.first-section-right > img {
    box-shadow: 3px 3px 2px 1px rgba(255, 255, 255, 0.2);
}

.button1{
    background-color: #3882f6;
    font-weight: 700;
    border-radius: 12px;
    padding: 8px;
    max-width: 140px;
}

.second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 200px 150px;
    gap: 32px;

}

.second-section-images{
    display: flex;
    justify-content: center;
    gap: 64px;
}

.second-section-header{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images{
    display: flex;
    flex-direction: column;
    flex: 0;
    gap: 16px;
}

.image-text{
    color: #626262;
}

.second-section img{
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.third-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 400px;
    gap: 32px;
}

.third-text{
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author{
    align-self: flex-end;
    font-weight: 700;
    color: #1F2937;
    font-size: 24px;
}

.fourth-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.action-banner{
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    flex: 1;
    padding: 48px 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
}

.banner-title{
    font-size: 24px;
    font-weight: 700;
}

.action-banner button{
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 10px;
    color: #f9faf8;
    font-weight: 700;
    font-size: 24px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 32px;
    justify-content: center;

}